@import '../../styles/variables';
@import '../../styles/extends';

.ConfirmPopUp {

  &__content {
    @extend %popup;

    display: flex;
    align-items: center;
  
    width: 300px;
    height: 300px;
    padding: 40px;

    opacity: 1;

    transition: all 300ms;

    &--hidden {
      top: 20%;
      width: 50px;
  
      opacity: 0;
    }
  }

  &__interface {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__text {
    margin: 0 0 20px;
  }

  &__buttons {
    display: flex;
    gap: 20px;
  }
}