$background: #FEFEFE;

$main-blue: #3F78E0;
$light-blue: #E0E9FA;
$success-green: #008000;
$error-red: #DC143C;

$text-black: #343F52;
$text-white: $background;

$max-width: 1200px;
$min-width: 760px;
$card-width: 340px;
$card-height: 320px;