@import '../../styles/variables';

.SearchAndSort {
  display: flex;
  gap: 25px;

  height: 50px;
  width: 95%;
  padding: 20px;

  background-color: $main-blue;

  &__input {
    border: 15px;

    font-size: 16px;
    color: $text-white;

    background-color: $main-blue;

    border-bottom: 1px solid $text-white;

    &::placeholder {
      color: $text-white;
    }

    &:focus-visible {
      outline: none;
    }
  }

  &__select {
    color: $text-white;
    font-size: 16px;

    background-color: $main-blue;
    border: none;

    &:focus-visible {
      outline: none;
    }
  }
}