@import '../../styles/variables';
@import '../../styles/extends';

.Header {
  position: sticky;
  z-index: 2;
  top: -5px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  max-width: $max-width;
  min-width: $min-width;
  margin: 0 auto;
  padding: 0 20px;

  box-shadow: 5px 10px 15px #0003;
  background-color: $main-blue;
  border-radius: $border-radius;

  &__heading {
    margin: 0;
  }

  &__home-link {
    text-decoration: none;
    color: $text-white;
  }
}